
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
  margin: 0;
  background-color: rgb(21, 18, 18);
  
}
html{
  font-family: 'Roboto Mono', monospace;
  color: white;
}